<div class="main_container" (keydown)="onKeyDown($event)">
  <mat-toolbar color="primary">
    <span>Online C Compileur</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button matTooltip="Run (Alt + Enter)" (click)="submit()">Run
      <mat-icon *ngIf="!isLoading">play_arrow</mat-icon>
      <mat-icon *ngIf="isLoading">refresh</mat-icon>
    </button>
    <button mat-icon-button (click)="open()"><mat-icon>settings</mat-icon></button>
  </mat-toolbar>
  <ngx-codemirror
    *ngIf="option != null"
    [(ngModel)]="content"
    [options]="option"
  ></ngx-codemirror>
  <div *ngIf="isLoading" style="margin: 14px">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="row" style="height: 200px; margin: 4px">
    <div class="col-sm" *ngIf="error != undefined">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-danger">Error</h5>
          <p class="card-text" style="font-size: 12px; margin: 0; padding: 0" *ngFor="let out of error">{{ out }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm" *ngIf="output != undefined">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Output</h5>
          <p class="card-text" style="font-size: 12px; margin: 0; padding: 0" *ngFor="let out of output">{{ out }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm" *ngIf="warning != undefined">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-warning">Warning</h5>
          <p class="card-text" style="font-size: 12px; margin: 0; padding: 0" *ngFor="let out of warning">{{ out }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
